<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>bienvenido <%= visitante %> </p>
     <p> tu estas en  <%= semestre%> Semestre sigue adelante existos exitos</p>
  </body>
</html>
